<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
     <h2> Create a Basketball Team! </h2>
     Team Name: <input type="text" name="team_name">
     <br>
     Team Name: <input type="text" name="team_name">
     <input type="submit" value="Submit">
   </form>

 </body>
</html>
